<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
          <span class="point"> · </span>
          <span>Theme by <a href="http://taominer.github.io">Ethan</a></span>

      </div>
    </div>
  </div>
</footer>

<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async("/public/js/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>